/*
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 

  Simple Login Form
  HTML5/CSS3 Coded by: $hekh@r d-Ziner, CSSJunction.com
  PSD by:PremiumPixels.com
  
  Uuage: Free. You can modify, remove our links and use wherever you want ☺.
  
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 
  
*/
body{
    background:#EAEAEA;
 
}
.box
{
    background:#C4161C;
    border: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
    overflow:hidden;
}
.box.login
{
    height:440px;
    width:332px;
    position:absolute;
    left:50%;
    top:40%;
    margin:-130px 0 0 -166px;
}

.box.registrar
{
    height:600px;
    width:640px;
    position:absolute;
    left:40%;
    top:25%;
    margin:-130px 0 0 -166px;
}

.box.crearclase{
  height:600px;
    width:332px;
    position:absolute;
    left:50%;
    top:25%;
    margin:-130px 0 0 -166px;  
}

.box.home{
    height:600px;
    width:1000px;
    position:absolute;
    left:25%;
    top:25%;
    margin:-130px 0 0 -166px;
}

.boxBody
{
    background:#fefefe;
    background-image:url("../IMG/diamond_u.png");
    background-repeat: no-repeat;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:100px 20px;
    margin-bottom: 2px;
}

.boxBodyclase
{
    background:#fefefe;
    background-repeat: no-repeat;
    border-top:1px solid #dde0e8;
    border-bottom: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    
    height: 92%;
    
    /*margin-bottom: 2px;*/
}

.boxBodyclase #videoPanel{
    height: 200px;
    width: 100px;
    margin-left: 5px;
    margin-top: 10px;
    
}

.boxBodyclase #videoPanel #maestro_div{
    height: 100px;
    
}

.boxBodyclase #videoPanel #alumno_div{
    height: 100px;
    
}

.boxBodyclase #grid{
    
    
}


.boxBodyclase a{
    color: #000 !important;
}

.trh:hover{
    background-color: #C4161C;
    color: #fff !important;
}
.trh:hover a{
    color: #fff !important;
}

.box footer
{
    background:#104073;

    padding:22px 22px;


    /*overflow:hidden;*/
    height:32px;
    border: 2px solid #104073;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#clasemain footer
{
    background:#104073;

   /* padding:22px 22px;

   
    /*overflow:hidden;*/
  
    height:7%;
    border: 2px solid #104073;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
    float:left;
    margin:4px 0 0;
}

#clasemain footer label{
    float:left;
    margin:4px 0 0;
}

.box footer #publishForm{
    color: #fff;
}

#clasemain footer #publishForm{
    color: #fff;
}

.box footer input[type=checkbox]{
    vertical-align:sub;
    
    /*vertical-align:middle;*/
    margin-right:10px;
}

#clasemain footer input[type=checkbox]{
    vertical-align:sub;
    
    /*vertical-align:middle;*/
    margin-right:10px;
}


.box input[type=text],
.box input[type=email],
.box input[type=password],
.box input[type=date],
.box input[type=time],
.box input[type=number],
#clasemain input[type=text],
#clasemain input[type=email],
#clasemain input[type=password],
#clasemain input[type=date],
#clasemain input[type=time],
#clasemain input[type=text]:focus,
 input[type=number],
.txtField,
.cjComboBox
{
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=email]:focus,
.box input[type=password]:focus,
.box input[type=date]:focus,
.box input[type=time]:focus,
.box input[type=number]:focus,
#clasemain input[type=text]:focus,
#clasemain input[type=email]:focus,
#clasemain input[type=password]:focus,
#clasemain input[type=date]:focus,
#clasemain input[type=time]:focus,
#clasemain input[type=number]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#fff;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
    padding:7px 21px;
}

.btnnormal{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    margin-bottom: 5px;
    padding:7px 21px; 
}

.btnnormal:hover{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
    
}
.btnnormal:active{
   text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.btnnormal2{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;

    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    padding:7px 21px; 

    
}


.btnnormal2:hover{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
    
}
.btnnormal2:active{
   text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.masito
{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
    
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}
footer#main{
    position:fixed;
    left:0;
    bottom:10px;
    text-align:center;
    font:normal 11px/16px Arial, Helvetica, sans-serif;
    width:100%;
}

#clasemain{
    position: absolute;
    height: 97%;
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
    background:#C4161C;
    border: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    
    
}


.stu{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:5px;
    border:1px solid #7db0cc !important;
    /*width: 100%;*/height: 100%;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-right: 3px;
    margin-left: 3px;

    
}

.backW{
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    
}

.backG{
    background:-moz-linear-gradient(top, #8dc700, #577b00);
    background:-webkit-gradient(linear, left top, left bottom, from(#8dc700), to(#577b00));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8dc700', EndColorStr='#577b00')";
    
}

.backR{
     background:-moz-linear-gradient(top, #e18787 , #d24a4a);
    background:-webkit-gradient(linear, left top, left bottom, from(#e18787 ), to(#d24a4a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e18787 ', EndColorStr='#d24a4a')";
    
}

.botTab{
    margin: 4px;
    background:none;
    border: none
    
}

.costumTab{
    border: 1px solid #cccccc; background: #f6f6f6 url(../IMG/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4;
    list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.costumTab:hover{
   border: 1px solid #d3e2f2; background: #bababa 50% 50% repeat-x; font-weight: bold; color: #eeeeee;
    
}