
body{
    background:#EAEAEA;

}
.box
{
    background:#C4161C;
    border: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
    overflow:hidden;
}
.box.login
{
    height:440px;
    width:332px;
    position:absolute;
    left:50%;
    top:40%;
    margin:-130px 0 0 -166px;
}

.box.registrar
{
    height:600px;
    width:640px;
    position:absolute;
    left:40%;
    top:25%;
    margin:-130px 0 0 -166px;
}

.box.crearclase{
    height:600px;
    width:332px;
    position:absolute;
    left:50%;
    top:25%;
    margin:-130px 0 0 -166px;  
}

.box.home{
    height:600px;
    width:1000px;
    position:absolute;
    left:25%;
    top:25%;
    margin:-130px 0 0 -166px;
}

.boxBody
{
    background:#fefefe;
    background-image:url("../IMG/diamond_u.png");
    background-repeat: no-repeat;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:100px 20px;
    margin-bottom: 2px;
}

.boxBodyclase
{
    background:#fefefe;
    background-repeat: no-repeat;
    border-top:1px solid #dde0e8;
    border-bottom: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;

    height: 92%;

    /*margin-bottom: 2px;*/
}

.boxBodyclase #videoPanel{
    height: 280px;
    width: 220px;
    margin-left: 5px;
    margin-top: 10px;

}

.boxBodyclase #videoPanel #maestro_div{
    height: 100px;

}

.boxBodyclase #videoPanel #alumno_div{
    height: 100px;

}

.boxBodyclase #grid{


}


.boxBodyclase a{
    color: #000 !important;
}

.trh:hover{
    background-color: #C4161C;
    color: #fff !important;
}
.trh:hover a{
    color: #fff !important;
}

.box footer
{
    background:#104073;

    padding:22px 22px;


    /*overflow:hidden;*/
    height:32px;
    border: 2px solid #104073;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#clasemain footer
{
    background:#104073;

    /* padding:22px 22px;
 
    
     /*overflow:hidden;*/

    height:7%;
    border: 2px solid #104073;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
    float:left;
    margin:4px 0 0;
}

#clasemain footer label{
    float:left;
    margin:4px 0 0;
}

.box footer #publishForm{
    color: #fff;
}

#clasemain footer #publishForm{
    color: #fff;
}

.box footer input[type=checkbox]{
    vertical-align:sub;

    /*vertical-align:middle;*/
    margin-right:10px;
}

#clasemain footer input[type=checkbox]{
    vertical-align:sub;

    /*vertical-align:middle;*/
    margin-right:10px;
}


.box input[type=text],
.box input[type=email],
.box input[type=password],
.box input[type=date],
.box input[type=time],
.box input[type=number],
#clasemain input[type=text],
#clasemain input[type=email],
#clasemain input[type=password],
#clasemain input[type=date],
#clasemain input[type=time],
#clasemain input[type=text]:focus,
input[type=number],
.txtField,
.cjComboBox
{
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=email]:focus,
.box input[type=password]:focus,
.box input[type=date]:focus,
.box input[type=time]:focus,
.box input[type=number]:focus,
#clasemain input[type=text]:focus,
#clasemain input[type=email]:focus,
#clasemain input[type=password]:focus,
#clasemain input[type=date]:focus,
#clasemain input[type=time]:focus,
#clasemain input[type=number]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#fff;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
    padding:7px 21px;
}

.btnnormal{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    margin-bottom: 5px;
    padding:7px 21px; 
}

.btnnormal:hover{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";

}
.btnnormal:active{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.btnnormal2{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;

    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    padding:7px 21px; 


}


.btnnormal2:hover{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";

}
.btnnormal2:active{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

.masito
{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#C4161C;
    background:-moz-linear-gradient(top, #EAEAEA, #dbdbdb);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#dbdbdb));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";

}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}
footer#main{
    position:fixed;
    left:0;
    bottom:10px;
    text-align:center;
    font:normal 11px/16px Arial, Helvetica, sans-serif;
    width:100%;
}

#clasemain{
    position: absolute;
    height: 97%;
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
    background:#C4161C;
    border: 2px solid #C4161C;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;


}


.stu{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:5px;
    /*border:1px solid #7db0cc !important;*/
    /*width: 100%;*/height: 100%;
    font:bold 10px/12px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#000;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-right: 3px;
    margin-left: 3px;


}

.backW{
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";

    border: 2px solid rgba(209, 209, 209, 0.5); /* rgba for transparency */
    /* -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
     -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
     box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;*/


}

.backG{
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border: 2px solid rgba(87, 123,0, 0.5);
}

.backR{
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border: 2px solid rgba(166, 41, 41, 0.5);

}

.backB{
    background:-moz-linear-gradient(top, #EAEAEA, #ffffff);
    background:-webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#ffffff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border: 2px solid rgba(1, 160, 199, 0.5); 

}

.botTab{
    margin: 4px;
    background:none;
    border: none;

}

.costumTab{
    border: 1px solid #cccccc; background: #f6f6f6 url("../IMG/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x; font-weight: bold; color: #1c94c4;
    list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.costumTab:hover{
    border: 1px solid #d3e2f2; background: #bababa 50% 50% repeat-x; font-weight: bold; color: #eeeeee;

}

.permitir_hablar{
    border: none;
    background-image: url("../IMG/ICONOS/12x12/talk.png");
    height: 12px;
    width: 12px;

}

.permitir_hablar:hover{
    background-image: url("../IMG/ICONOS/12x12/talk_hover.png");

}

.warm_call{
    border: none;
    background-image: url("../IMG/ICONOS/12x12/warm_call.png");
    height: 12px;
    width: 12px;  
}

.warm_call:hover{
    background-image: url("../IMG/ICONOS/12x12/warm_call_hover.png"); 

}

.cold_call{
    border: none;
    background-image: url("../IMG/ICONOS/12x12/cold_call.png");
    height: 12px;
    width: 12px;  
}

.cold_call:hover{
    background-image: url("../IMG/ICONOS/12x12/cold_call_hover.png"); 

}

.parar_hablar{
    border: none;
    background-image: url("../IMG/ICONOS/12x12/stop_talk.png");
    height: 12px;
    width: 12px;
}

.parar_hablar:hover{
    background-image: url("../IMG/ICONOS/12x12/stop_talk_hover.png");

}

.piz table tr td{
    border: 1px solid #000;
    padding: 5px;
}

.uptab {
    border: 1px solid #661619 !important;
    background: #a52429 50% 50% repeat-x !important;

}

.message
{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;			
    background-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);

    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 225px;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    left: 75%;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
}

.info
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}
.infofrommaster
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error
{
    background-color: #de4343;
    border-color: #c43d3d;
}

.warning
{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.success
{
    background-color: #61b832;
    border-color: #55a12c;
}

.message h3
{
    margin: 0 0 5px 0;													 
}

.message p
{
    margin: 0;													 
}

@-webkit-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}


@-moz-keyframes animate-bg 
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}

#gradetab{
    border:6px solid #e1e1e1;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    height: 100%;
    margin-left: 10px;
    background-color: #fff;
    padding: 15px;

}

/*table,table tr,table td{
    border: 1px solid #000;
}*/