<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mcvc.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>mcvc.servlets.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlets</servlet-name>
        <servlet-class>mcvc.servlets.RegistrarServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarToken_Servlet</servlet-name>
        <servlet-class>mcvc.servlets.RegistrarToken_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Home_1</servlet-name>
        <servlet-class>mcvc.servlets.Servlet_Home_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSignals</servlet-name>
        <servlet-class>mcvc.servlets.ServletSignals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSiganlR</servlet-name>
        <servlet-class>mcvc.servlets.ServletSiganlR</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlets</servlet-name>
        <url-pattern>/RegistrarServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarToken_Servlet</servlet-name>
        <url-pattern>/RegistrarToken_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Home_1</servlet-name>
        <url-pattern>/Servlet_Home_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSignals</servlet-name>
        <url-pattern>/ServletSignals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSiganlR</servlet-name>
        <url-pattern>/ServletSiganlR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
